.dropdown-menu {
	position: relative;
	/* /==================new style ===================  */

	&__trigger {
		display: inline-block;

		text-indent: 0;
		transform: rotate(90deg);
		text-align: center;

		background-color: #d7d7d7;
		color: #333333;
		border-radius: 4px;
	}
	button {
		// color: #88838364;
		border: 1px solid #d7d7d7;
		background-color: #d7d7d7;
		border-radius: 4px;
	}
	&__content {
		position: absolute;
		background-color: #ffffff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		width: 260px;
		border: 1px solid #ccc;
		border-top: none;
		border-radius: 0 0 4px 4px;
	}

	&__item {
		padding: 10px 20px;
		cursor: pointer;
	}

	&__item:hover {
		background-color: #f0f0f0;
	}
}
