.dropdown-menu {
	position: relative;

	&__trigger {
		display: inline-block;

		text-indent: 0;
		transform: rotate(90deg);
		text-align: center;

		background-color: #d7d7d7;
		color: #333333;
		border-radius: 4px;
	}
	&__trigger-button {
		// color: #88838364;
		border: 1px solid #d7d7d7;
		background-color: #d7d7d7;
		border-radius: 4px;
	}
	&__content {
		position: absolute;
		background-color: #ffffff;

		width: 260px;
		border: 1px solid #ccc;
		border-top: none;
		border-radius: 4px;
		padding: 8px 5px 5px 5px;
	}

	&__item {
		padding: 10px 20px;
		cursor: pointer;
	}

	&__item:hover {
		background-color: #f0f0f0;
	}

	&-item {
		border: none;
		background-color: #ffffff;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin: 5px;
		width: calc(100% - 10px);
	}
	&-item-label {
	}
	&-item-icon {
	}
}
