.dropdown-menu {
	position: relative;
	/* /==================new style ===================  */

	// .dropdown-menu__trigger {
	&__trigger {
		display: inline-block;
		// line-height: 52px;
		text-indent: 0;
		transform: rotate(90deg);
		text-align: center;
		// padding: 10px 20px;
		background-color: #ffffff;
		color: #333333;
		// border: 1px solid #ccc;
		border-radius: 4px;
	}

	&__content {
		position: absolute;

		// left: 0%;
		// right: 0%;
		background-color: #ffffff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		width: 260px;
		border: 1px solid #ccc;
		border-top: none;
		border-radius: 0 0 4px 4px;
	}

	&__item {
		padding: 10px 20px;
		cursor: pointer;
	}

	&__item:hover {
		background-color: #f0f0f0;
	}
}
