/* .dropdown-container {
  display: flex;
}

.down-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.up-right {
  justify-content: flex-end;
  align-items: flex-start;
}

.down-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.up-left {
  justify-content: flex-start;
  align-items: flex-start;
} */
.dropdown-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.up-left {
  grid-column: 1;
  grid-row: 1;
}

.up-right {
  grid-column: 4;
  grid-row: 1;
}

.down-left {
  grid-column: 1;
  grid-row: 2;
}

.down-right {
  grid-column: 4;
  grid-row: 2;
}