.dropdown-container {
	display: grid;
	grid-template-areas:
		'A B'
		'C D';
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	width: 100vw;
	height: 100vh;
	background-color: #f9f9f9;
}

.dropdown-wrapper {
	padding: 20px;
	/* border: 1px solid #ccc;
	border-radius: 4px; */
	background-color: #fff;
}
.up-left {
	grid-area: A;
}
.up-right {
	grid-area: B;
}
.down-left {
	grid-area: C;
}
.down-right {
	grid-area: D;
}
.up-right .dropdown-menu,
.down-right .dropdown-menu {
	display: flex;
	justify-content: flex-end;
}
