.dropdown-container {
	// display: grid;
	// grid-template-areas:
	// 	'A B'
	// 	'C D';
	// grid-template-columns: repeat(2, 50%);
	// grid-template-rows: repeat(2, 50%);
	width: 100vw;
	height: 100vh;
	// background-color: #f9f9f9;

	//** ================== v2 ================== */
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	// flex-wrap: wrap;

	// align-content: space-between;

	//** ================== v3 ================== */

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 15px;
	background: #f0f0f0;
	> div:nth-child(-n + 2) {
		align-self: start;
	}
	> div:nth-last-child(-n + 2) {
		align-self: end;
	}

	.dropdown-wrapper {
		padding: 20px;
		/* border: 1px solid #ccc;
	border-radius: 4px; */
		// background-color: #fff;
	}
	//** =============================== button conteiner =============================== */
	.up-left {
		// grid-area: A;
	}
	.up-right {
		// grid-area: B;
		.dropdown-menu {
			display: flex;
			justify-content: flex-end;
		}
	}
	.down-left {
		// grid-area: C;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: flex-start;
		align-items: flex-start;
		// margin: 2vw;
	}
	.down-right {
		// grid-area: D;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-end;
		align-content: flex-end;
		justify-content: flex-end;
		.dropdown-menu {
			display: flex;
			justify-content: flex-end;
		}
	}
	//** ==================== pop-up content ==================== */
	$modified-indent: calc(100% - 20px);
	.bottom-right {
		left: auto;
		top: 100%;
	}
	.top-right {
		position: absolute;
		transform: translate3d(calc(100% - 27px), -100%, 0);
		top: 0;
		right: 0;
	}

	.bottom-left {
		top: 100%;
		left: auto;
	}
	.top-left {
		transform: translate3d(calc(100% - 260px), -100%, 0);
	}
}
//** ==================== new position content ==================== */
// .dropdown-wrapper{
// .dropdown-menu__content {

// 	&:nth-child(2n) {

// 	}
// 	&:nth-child(even) {

// 	}
// 	&:nth-child(odd) {

// 	}
// 	&:nth-child(n + 3) {
// 	}
// }
