.dropdown-container {
	display: grid;
	grid-template-areas:
		'A B'
		'C D';
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	width: 100vw;
	height: 100vh;
	background-color: #f9f9f9;
}

.dropdown-wrapper {
	padding: 20px;
	/* border: 1px solid #ccc;
	border-radius: 4px; */
	background-color: #fff;
}
.up-left {
	grid-area: A;
}
.up-right {
	grid-area: B;
}
.down-left {
	grid-area: C;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: flex-start;
  // margin: 2vw;
}
.down-right {
	grid-area: D;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
}
.up-right .dropdown-menu,
.down-right .dropdown-menu {
	display: flex;
	justify-content: flex-end;
}
/** ==================== new position content ==================== */
// dropdown-wrapper
.dropdown-menu__content{
// .dropdown-container {
	&:nth-child(2n) {
		left: auto; // Отменить свойство left: 0;
	}
	&:nth-child(even) {
    right: auto;
		.bottom-right {
      left: auto;
		}
	}
	&:nth-child(odd) {
    left: auto;
    // right: auto;
		// нечетные
	}
	&:nth-child(n+3) {
	}
}
